// IMPORT FONT STYLE
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


/* Global styles */
html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    color: white;
    .wrap_device {
        // ISSUE WITH OVERFLOW ON MOBILE IF I USE IT ON BODY
        overflow-x: hidden;
    }
}

h1 {
    font-family: 'Overpass', sans-serif;
}